{% extends "index/base.html" %}
{% block title %} ORDER {% endblock title %}
{% block content %}

<!-- componeku76nt -->
<div class="leading-loose">
    <form class="max-w-xl m-4 p-10 bg-white rounded shadow-xl" method="POST">
      {% csrf_token %}
      <p class="text-gray-800 font-medium">Customer information</p>
      <div class="">
        <label class="block text-sm text-gray-00" for="title">Title</label>
        <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="cus_name" name="title" type="text" required placeholder="Your Name" aria-label="Name">
      </div>
      <div class="mt-2">
        <label class="block text-sm text-gray-600" for="price">Price</label>
        <input class="w-full px-5  py-4 text-gray-700 bg-gray-200 rounded" id="cus_email" name="price" type="text" required placeholder="Your Email" aria-label="Price">
      </div>
      <div class="mt-2">
        <label class=" block text-sm text-gray-600" for="pic">Pic</label>
        <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="pic" type="file" required  placeholder="Pic" aria-label="Pic">
      </div>
      <div class="mt-2">
        <label class="hidden text-sm block text-gray-600" for="desc">Desc</label>
        <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email" name="desc" type="text" required placeholder="Desc" aria-label="Desc">
      </div>
      
      <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
        <label class="hidden block text-sm text-gray-600" for="slug">Slug</label>
        <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="cus_email"  name="slug" type="text" required="" placeholder="Zip" aria-label="Slug">
      </div>
      <div class="mt-4">
        <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Submit</button>
      </div>
    </form>
  </div>

{% endblock content %}